Repository Sinity/intercept-bounce: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, alejandra

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0 # Use the latest stable version
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      # - id: check-symlinks # Enable if you use symlinks in your repo
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1 # Use the latest stable version
    hooks:
      - id: gitleaks
        name: Detect hardcoded secrets (gitleaks)

  - repo: local
    hooks:
      - id: cargo-fmt
        name: Format Rust code (cargo fmt)
        entry: bash -c 'cargo fmt --all -- --check' # Uses the 'cf --check' alias logic
        language: system
        types: [rust]
        pass_filenames: false # cargo fmt operates on the whole project

      - id: cargo-clippy
        name: Lint Rust code (cargo clippy)
        entry: bash -c 'cargo clippy --workspace --all-targets -- -D warnings' # Uses 'cl' alias logic, fails on warnings
        language: system
        types: [rust]
        pass_filenames: false # cargo clippy operates on the whole project

      - id: alejandra
        name: Format Nix files (alejandra)
        entry: alejandra
        language: system
        types: [nix]

# Optional: Configure default stages if you want hooks to run on e.g. pre-push
default_stages: [pre-commit, pre-push]

switched nixfmt to alejandra (in pre-commit hooks)
  .pre-commit-config.yaml
  flake.nix
Due: alejandra

ci: Use pre-commit, update actions, remove `flake update` & redundant checks
  .github/workflows/ci.yml
  flake.nix
Due: alejandra

fix: Correct flake check structure, vergen git, and license format
  .github/workflows/ci.yml
  flake.nix
Due: alejandra

fix: correct dependencies, license metadata, and CI check
  .github/workflows/ci.yml
  Cargo.toml
  flake.nix
Due: alejandra

fix: use pkgs.stdenv.mkDerivation for pre-commit-check in flake.nix
  flake.nix
Due: alejandra

ci: Fix pre-commit in CI by initializing git and PRE_COMMIT_HOME
  flake.nix
Due: alejandra

fix: Enable offline pre-commit checks in Nix build
  flake.nix
Due: alejandra

fix: Update yq syntax for pre-commit-hooks in CI
  flake.nix
Due: alejandra

Fixed pre-commit hooks issue failing CI, hopefully anyway
  .github/workflows/ci.yml
  .gitignore
  flake.nix
Due: alejandra

fix: Update build scripts to work with multiple binaries in xtask
  Cargo.lock
  Cargo.toml
  build.rs
  dev.sh
  flake.nix
  xtask/Cargo.toml
  xtask/src/bin/cargo-xtask.rs
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, alejandra

More descriptive failed build log
  flake.nix
Due: alejandra

debugging CI
  flake.nix
  xtask/src/main.rs
Due: cargo-fmt, cargo-clippy, alejandra

debugging CI
  flake.nix
Due: alejandra

debugging CI
  .github/workflows/ci.yml
  flake.nix
Due: alejandra

CI
  .github/workflows/ci.yml
Due: none

Add per-key ignore support to debounce filter
  AGENTS.md
  Cargo.lock
  Cargo.toml
  README.md
  benches/filter.rs
  docs/completions/intercept-bounce.bash
  docs/completions/intercept-bounce.elv
  docs/completions/intercept-bounce.fish
  docs/completions/intercept-bounce.nu
  docs/completions/intercept-bounce.ps1
  docs/completions/intercept-bounce.zsh
  docs/man/intercept-bounce.1
  fuzz/fuzz_targets/fuzz_core_filter.rs
  fuzz/fuzz_targets/fuzz_target_stats.rs
  src/cli.rs
  src/config.rs
  src/event.rs
  src/filter.rs
  src/filter/keynames.rs
  src/filter/stats.rs
  src/main.rs
  src/telemetry.rs
  test-helpers/src/lib.rs
  tests/filter_tests.rs
  tests/property_tests.proptest-regressions
  tests/property_tests.rs
  tests/sanity.rs
  tests/unit_stats.rs
Due: cargo-fmt, cargo-clippy

Add debounce-key allowlist and refresh docs
  README.md
  docs/completions/intercept-bounce.bash
  docs/completions/intercept-bounce.elv
  docs/completions/intercept-bounce.fish
  docs/completions/intercept-bounce.nu
  docs/completions/intercept-bounce.ps1
  docs/completions/intercept-bounce.zsh
  docs/man/intercept-bounce.1
  fuzz/fuzz_targets/fuzz_target_stats.rs
  src/cli.rs
  src/config.rs
  src/filter.rs
  src/main.rs
  src/telemetry.rs
  test-helpers/src/lib.rs
  tests/unit_stats.rs
Due: cargo-fmt, cargo-clippy

Release 0.9.1
  Cargo.lock
  Cargo.toml
  docs/man/intercept-bounce.1
Due: none

flake update
  flake.lock
Due: none

add nixos module
  README.md
  flake.nix
  nix/modules/intercept-bounce.nix
Due: alejandra

chore(agent): add generated guidance source
  .gitignore
  CLAUDE.md
Due: none

style(nix): format module files
  flake.nix
  nix/modules/intercept-bounce.nix
Due: alejandra

fix(ci): refresh audit inputs
  Cargo.lock
  flake.lock
  src/filter/stats.rs
Due: cargo-fmt, cargo-clippy

chore(agent): add generated guidance source (#2)
  .gitignore
  CLAUDE.md
  Cargo.lock
  flake.lock
  flake.nix
  nix/modules/intercept-bounce.nix
  src/filter/stats.rs
Due: cargo-fmt, cargo-clippy, alejandra

docs: replace legacy rendered AGENTS.md with CLAUDE.md symlink
  AGENTS.md
Due: none
